%p 
  You ate on
  %span= meal.day
  , around the hours 
  %span= meal.hour
  at a 
  %span= meal.place
  eating 
  %span= meal.cuisine
  that was 
  %span= meal.recommended
  for around
  %span= meal.price

=link_to "Edit",    edit_survey_meal_path(meal.survey, meal)
=button_to "Delete", survey_meal_path(meal.survey, meal), :confirm => "Are you sure you want to delete this?", :method => :delete